@page "/"
@using PdpAssist.Client.Components

<PageTitle>Skill Plant</PageTitle>

<h2>Welcome to Skill Plant - the app that helps you to create a Personal Development Plan and follow it</h2>



<SkillMap/>

