@page "/skills"
@using PdpAssist.Client.Components;
<h3>Skills</h3>



<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Scrore</th>
                <th>Desireble Score</th>
            </tr>
        </thead>
        <tbody>
@*            @foreach (var skill in skills)
            {
                <tr>
                    <td>@skill.Name</td>
                    <td>@skill.CurrentScore</td>
                    <td>@skill.DesirebleScore</td>
                </tr>
            }*@
        </tbody>
</table>
<SkillForm></SkillForm>
@code {

}
